<section class="bg-primary" id="about">
    <div class="container-fluid">
        <h2>ABOUT US</h2>

            <div class="row about">

                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 first-block first-block-1">
                    <p>ScalHive is an active, vibrant place that rewards creativity and unconventional thinking.</p>
                    <b>Our vision is to enable your business to use the state-of-the-art technology.</b>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 first-block">
                    <p>This is how we bring that vision to life:</p>
                    <ol type="1">
                        <li>Team goal is to find the best answer that suits your business.</li>
                        <li>We anticipate new waves of technology and build them into our roadmap.</li>
                        <li>Above all, we protect our customers.</li>
                    </ol>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 second-block">
                    <h3>Team</h3>
                    <p>19 engineers: 3 Ph.D., 11 M.Sc., 4 B.Sc.</p>
                    <ul>
                        <li>Front-End Developers</li>
                        <li>Back-End Developers</li>
                        <li>Production Engineers (DevOps)</li>
                        <li>Quality Assurance Engineers</li>
                        <li>Business analysts</li>
                        <li>IT consultants</li>
                    </ul>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 three-block">
                    <h3>Expertise by Domain</h3>
                    <ul>
                        <li>Software Architecture and Consulting</li>
                        <li>Web Development</li>
                        <li>Enterprise Solutions</li>
                        <li>SaaS & Cloud</li>
                        <li>Quality Assurance</li>
                        <li>Support and maintenance</li>
                    </ul>
                </div>
            </div>

    </div>
</section>
