  <div class="bg-dark" id="contact-text">
      <div class="container-fluid text-center">
          <div class="call-to-action">
              <h2>Contact</h2>


              <!--<a href="#" class="btn btn-default btn-xl wow tada">Download Now!</a>-->


              <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 contact-icon">

                  <!--<span class="glyphicon glyphicon-envelope" aria-hidden="true"> team@scalhive.com </span><br>-->
                  <!--<span class="glyphicon glyphicon-earphone" aria-hidden="true"> 0976971069 </span><br>-->
                  <!--<span class="glyphicon glyphicon-home" aria-hidden="true"> Ternopil, Ukraine </span>-->
              </div>
              <!--<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 text-center contact-icon">-->
                 <!---->

              <!--</div>-->

          </div>
      </div>
  </div>
