<section id="contact">
    <div class="container-fluid">
        <div class="row">
            <!--<div class="col-lg-8 col-lg-offset-2 text-center">-->

            <!--</div>-->
        <!--<div class="text-center col-md-2 col-sm-2 col-xs-2 col-lg-2 col-lg-offset-2 ">-->
            <!--<a href="https://twitter.com/{{ site.twitter_username }}">-->
                <!--<i class="fa fa-twitter fa-3x wow bounceIn" data-wow-delay=".1s"></i>-->
                <!--<p>{{ site.twitter_username }}</p>-->
            <!--</a>-->
        <!--</div>-->
        <div class="col-md-4 col-sm-4 col-xs-4 col-lg-4 col-first">
            <h3>LOCATION</h3>
            <p>Berezhanska Str. 10</p>
            <p>Ternopil, Ukraine</p>
        </div>

        <div class="col-md-4 col-sm-4 col-xs-4 col-lg-4 icon-linkedin col-second">
            <a href="https://www.linkedin.com/company-beta/17977372/" target="_blank">
            <i class="fa fa-linkedin-square fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>{{ site.email }}</p>
            </a>
        </div>

        <div class="col-md-4 col-sm-4 col-xs-4 col-lg-4 col-three">
            <h3>CONTACTS</h3>
            <p>+380976971069</p>
            <p>Email: team@scalhive.com</p>

        </div>
        <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12">
            <p class="right">© 2017 Scalhive. All rights reserved.</p>
        </div>

        <!--<div class="text-center col-xs-2 col-sm-2 col-md-2  col-lg-2 col-lg-offset-1 ">-->
            <!--<a href="https://github.com/awesome-it-ternopil" target="_blank">-->
            <!--<i class="fa fa-github fa-3x wow bounceIn" data-wow-delay=".1s"></i>-->
                <!--<p>{{ site.github_username }}</p>-->
            <!--</a>-->
        <!--</div>-->

    </div>
</div>
</section>
