<section id="jobs">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Jobs</h2>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 text-center scala-position">
                <h3>Scala Developer</h3>
                <p>Requirements: </p>
                <img src="img/check.png" alt="-"> Scala <br>
                <img src="img/check.png" alt="-"> Spark+Hadoop (or any other big data technology) <br>
                <img src="img/check.png" alt="-"> Java is a plus <br>
                <img src="img/check.png" alt="-"> English - Upper intermediate and above <br>
                <img src="img/check.png" alt="-"> 3+ years of IT experience <br>
                <br>


            </div>
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 text-center qa-position">
                <h3>QA engineer</h3>
                <p>Requirements: </p>
                <img src="img/check.png" alt="-"> Proven work experience in software development <br>
                <img src="img/check.png" alt="-"> Proven work experience in software quality assurance<br>
                <img src="img/check.png" alt="-"> Strong knowledge of software QA methodologies, tools and processes<br>
                <img src="img/check.png" alt="-"> Experience in writing clear, concise and comprehensive test plans and test cases<br>
                <img src="img/check.png" alt="-"> Hands-on experience with both white box and black box testing<br>
                <img src="img/check.png" alt="-"> Hands-on experience with automated testing tools<br>
                <img src="img/check.png" alt="-"> Solid knowledge of SQL and scripting<br>
                <img src="img/check.png" alt="-"> Experience working in an Scrum/Kanban development process<br>
                <img src="img/check.png" alt="-"> Experience with performance and/or security testing is a plus<br>
                <br>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4  text-center engineer-position">
                <h3>Production engineer</h3>
                <p>Requirements: </p>
                <img src="img/check.png" alt="-"> <br>
                <img src="img/check.png" alt="-"> <br>
                <img src="img/check.png" alt="-"> <br>
                <img src="img/check.png" alt="-"> <br>
                <img src="img/check.png" alt="-"> <br>
                <img src="img/check.png" alt="-"> <br>
            </div>
        </div>
    </div>
</section>
