<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="characters characters-click"><h2>TECHNICAL EXPERTISE OVERVIEW</h2>
            <!--<h3>Move your cursor bar on the picture and you'll see</h3>-->
                <a href="#portfolio-1" class="btn btn-primary btn-xl page-scroll ">Click</a>
            </div>
            <div class="col-xs-12 col-lg-4 col-sm-6" id="portfolio-1">
                <a href="#portfolio" class="portfolio-box">
                    <img src="img/portfolio/1.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Software Architecture and Consulting
                            </div>
                            <div class="project-name">
                                <ul>
                                    <li>Business analysis</li>
                                    <li>Business requirements</li>
                                    <li>Security concept (OWASP SAMM, Big Data Security and Privacy Handbook)</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-xs-12 col-lg-4 col-sm-6">
                <a href="#portfolio" class="portfolio-box">
                    <img src="img/portfolio/2.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Web Development
                            </div>
                            <div class="project-name">
                                <ul>
                                    <li>Web UI (JavaScript/HTML5, Bootstrap, Angular)</li>
                                    <li>Scala (Spray, Slick)</li>
                                    <li>Play Framework</li>
                                    <li>Akka (Scala API, Akka Streams)</li>
                                    <li>MySQL, MariaDB</li>
                                    <li>Cassandra, Aerospike</li>
                                    <li>Test-Driven Development</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-xs-12 col-lg-4 col-sm-6">
                <a href="#portfolio" class="portfolio-box">
                    <img src="img/portfolio/3.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Enterprise Solutions
                            </div>
                            <div class="project-name">
                                <ul>
                                    <li>Web UI (HTML5, Bootstrap, Less/Sass, JavaScript, Angular, TypeScript)</li>
                                    <li>Java, Scala (SaaS, high-load)</li>
                                    <li> MySQL, MariaDB, PostgreSQL</li>
                                    <li>Cassandra, Aerospike</li>
                                    <li>Behavior-driven development</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-xs-12 col-lg-4 col-sm-6">
                <a href="#portfolio" class="portfolio-box">
                    <img src="img/portfolio/4.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                SaaS & Cloud
                            </div>
                            <div class="project-name">
                                <ul>
                                    <li>Amazon AWS, OpenStack</li>
                                    <li>CentOS 7, Ubuntu 16.04 LTS</li>
                                    <li>Production Engineer/DevOps (security, services in cloud systems…)</li>
                                    <li>Configuration Management (Ansible)</li>
                                    <li>Containers (Docker)</li>
                                    <li>Continuous Integration (CI)</li>
                                    <li>Continuous Delivery / Deployment (CD)</li>

                                </ul>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-xs-12 col-lg-4 col-sm-6">
                <a href="#portfolio" class="portfolio-box">
                    <img src="img/portfolio/5.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Quality Assurance
                            </div>
                            <div class="project-name">
                                <ul>
                                    <li>Scrum, Kanban</li>
                                    <li>System requirements</li>
                                    <li>Automated testing, Selenium</li>
                                    <li>Manual testing (OWASP Testing Guide v4)</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-xs-12 col-lg-4 col-sm-6">
                <a href="#portfolio" class="portfolio-box">
                    <img src="img/portfolio/6.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Support and maintenance
                            </div>
                            <div class="project-name">
                                <ul>
                                    <li>User manual</li>
                                    <li>Knowledge base</li>
                                    <li>HelpDesk</li>
                                </ul>
                            </div>
                            <div class="project-category text-faded">
                                Industry Expertise
                            </div>
                            <div class="project-name">
                                <ul>
                                    <li>Media & Advertising</li>
                                    <li>Instant messaging systems</li>
                                    <li>Management (CRM/ERP solutions)</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
