<!--<section class="no-padding" id="portfolio">-->
    <!--<div class="container-fluid">-->
        <!--<div class="row no-gutter">-->
            <!--<div class="characters characters-click"><h2>TECHNICAL EXPERTISE OVERVIEW</h2>-->
            <!--&lt;!&ndash;<h3>Move your cursor bar on the picture and you'll see</h3>&ndash;&gt;-->
                <!--&lt;!&ndash;<a href="#portfolio-1" class="btn btn-primary btn-xl page-scroll ">Click</a>&ndash;&gt;-->
            <!--</div>-->
            <!--<div class="col-xs-12 col-lg-4 col-sm-6" id="portfolio-1">-->
                <!--<a href="#portfolio" class="portfolio-box">-->
                    <!--&lt;!&ndash;<div class="portfolio-background "> <div class="portfolio-header"><h2>Software Architecture and Consulting </h2></div> </div>&ndash;&gt;-->
                    <!--<img src="img/portfolio/1.jpg" class="img-responsive" alt="">-->
                    <!--<div class="portfolio-header"> <span> Software Architecture and Consulting </span></div>-->
                    <!--<div class="portfolio-box-caption">-->
                        <!--<div class="portfolio-box-caption-content">-->
                            <!--&lt;!&ndash;<div class="project-category text-faded">&ndash;&gt;-->
                                <!--&lt;!&ndash;Software Architecture and Consulting&ndash;&gt;-->
                            <!--&lt;!&ndash;</div>&ndash;&gt;-->
                            <!--<div class="project-name">-->
                                <!--<ul>-->
                                    <!--<li>Business analysis</li>-->
                                    <!--<li>Business requirements</li>-->
                                    <!--<li>Security concept (OWASP SAMM, Big Data Security and Privacy Handbook)</li>-->
                                <!--</ul>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</a>-->
            <!--</div>-->
            <!--<div class="col-xs-12 col-lg-4 col-sm-6">-->
                <!--<a href="#portfolio" class="portfolio-box">-->
                    <!--&lt;!&ndash;<div class="portfolio-background"><div class="portfolio-header"><h2> Web Development </h2></div></div>&ndash;&gt;-->
                    <!--<img src="img/portfolio/2.jpg" class="img-responsive" alt="">-->
                    <!--<div class="portfolio-header"> <span> Web Development </span></div>-->
                    <!--<div class="portfolio-box-caption">-->
                        <!--<div class="portfolio-box-caption-content">-->
                            <!--&lt;!&ndash;<div class="project-category text-faded">&ndash;&gt;-->
                                <!--&lt;!&ndash;Web Development&ndash;&gt;-->
                            <!--&lt;!&ndash;</div>&ndash;&gt;-->
                            <!--<div class="project-name">-->
                                <!--<ul>-->
                                    <!--<li>Web UI (JavaScript/HTML5, Bootstrap, Angular)</li>-->
                                    <!--<li>Scala (Spray, Slick)</li>-->
                                    <!--<li>Play Framework</li>-->
                                    <!--<li>Akka (Scala API, Akka Streams)</li>-->
                                    <!--<li>MySQL, MariaDB</li>-->
                                    <!--<li>Cassandra, Aerospike</li>-->
                                    <!--<li>Test-Driven Development</li>-->
                                <!--</ul>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</a>-->
            <!--</div>-->
            <!--<div class="col-xs-12 col-lg-4 col-sm-6">-->
                <!--<a href="#portfolio" class="portfolio-box">-->
                    <!--<img src="img/portfolio/3.jpg" class="img-responsive" alt="">-->
                    <!--&lt;!&ndash;<div class="portfolio-background"> <div class="portfolio-header"><h2> Enterprise Solutions </h2></div> </div>&ndash;&gt;-->
                    <!--<div class="portfolio-header"> <span> Enterprise Solutions </span></div>-->
                    <!--<div class="portfolio-box-caption">-->
                        <!--<div class="portfolio-box-caption-content">-->
                            <!--&lt;!&ndash;<div class="project-category text-faded">&ndash;&gt;-->
                                <!--&lt;!&ndash;Enterprise Solutions&ndash;&gt;-->
                            <!--&lt;!&ndash;</div>&ndash;&gt;-->
                            <!--<div class="project-name">-->
                                <!--<ul>-->
                                    <!--<li>Web UI (HTML5, Bootstrap, Less/Sass, JavaScript, Angular, TypeScript)</li>-->
                                    <!--<li>Java, Scala (SaaS, high-load)</li>-->
                                    <!--<li> MySQL, MariaDB, PostgreSQL</li>-->
                                    <!--<li>Cassandra, Aerospike</li>-->
                                    <!--<li>Behavior-driven development</li>-->
                                <!--</ul>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</a>-->
            <!--</div>-->
            <!--<div class="col-xs-12 col-lg-4 col-sm-6">-->
                <!--<a href="#portfolio" class="portfolio-box">-->
                    <!--<img src="img/portfolio/4.jpg" class="img-responsive" alt="">-->
                    <!--&lt;!&ndash;<div class="portfolio-background"><div class="portfolio-header"><h2> SaaS & Cloud </h2></div></div>&ndash;&gt;-->
                    <!--<div class="portfolio-header"> <span> SaaS & Cloud </span></div>-->
                    <!--<div class="portfolio-box-caption">-->
                        <!--<div class="portfolio-box-caption-content">-->
                            <!--&lt;!&ndash;<div class="project-category text-faded">&ndash;&gt;-->
                                <!--&lt;!&ndash;SaaS & Cloud&ndash;&gt;-->
                            <!--&lt;!&ndash;</div>&ndash;&gt;-->
                            <!--<div class="project-name">-->
                                <!--<ul>-->
                                    <!--<li>Amazon AWS, OpenStack</li>-->
                                    <!--<li>CentOS 7, Ubuntu 16.04 LTS</li>-->
                                    <!--<li>Production Engineer/DevOps (security, services in cloud systems…)</li>-->
                                    <!--<li>Configuration Management (Ansible)</li>-->
                                    <!--<li>Containers (Docker)</li>-->
                                    <!--<li>Continuous Integration (CI)</li>-->
                                    <!--<li>Continuous Delivery / Deployment (CD)</li>-->

                                <!--</ul>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</a>-->
            <!--</div>-->
            <!--<div class="col-xs-12 col-lg-4 col-sm-6">-->
                <!--<a href="#portfolio" class="portfolio-box">-->
                    <!--<img src="img/portfolio/5.jpg" class="img-responsive" alt="">-->
                    <!--&lt;!&ndash;<div class="portfolio-background"> <div class="portfolio-header"><h2> Quality Assurance </h2></div> </div>&ndash;&gt;-->
                    <!--<div class="portfolio-header"> <span> Quality AssuranceQuality Assurance </span></div>-->
                    <!--<div class="portfolio-box-caption">-->
                        <!--<div class="portfolio-box-caption-content">-->
                            <!--&lt;!&ndash;<div class="project-category text-faded">&ndash;&gt;-->
                                <!--&lt;!&ndash;Quality AssuranceQuality Assurance&ndash;&gt;-->
                            <!--&lt;!&ndash;</div>&ndash;&gt;-->
                            <!--<div class="project-name">-->
                                <!--<ul>-->
                                    <!--<li>Scrum, Kanban</li>-->
                                    <!--<li>System requirements</li>-->
                                    <!--<li>Automated testing, Selenium</li>-->
                                    <!--<li>Manual testing (OWASP Testing Guide v4)</li>-->
                                <!--</ul>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</a>-->
            <!--</div>-->
            <!--<div class="col-xs-12 col-lg-4 col-sm-6">-->
                <!--<a href="#portfolio" class="portfolio-box">-->
                    <!--<img src="img/portfolio/6.jpg" class="img-responsive" alt="">-->
                    <!--<div class="portfolio-header"></div>-->
                    <!--&lt;!&ndash;<div class="portfolio-background"><div class="portfolio-header"><h2> Support and maintenance </h2> <h2> Industry Expertise </h2></div></div>&ndash;&gt;-->
                    <!--<div class="portfolio-header"> <span> Support and maintenanc,industry Expertise </span></div>-->
                    <!--<div class="portfolio-box-caption">-->
                        <!--<div class="portfolio-box-caption-content">-->
                            <!--<div class="project-category text-faded">-->
                                <!--Support and maintenance-->
                            <!--</div>-->
                            <!--<div class="project-name">-->
                                <!--<ul>-->
                                    <!--<li>User manual</li>-->
                                    <!--<li>Knowledge base</li>-->
                                    <!--<li>HelpDesk</li>-->
                                <!--</ul>-->
                            <!--</div>-->
                            <!--<div class="project-category text-faded">-->
                                <!--Industry Expertise-->
                            <!--</div>-->
                            <!--<div class="project-name">-->
                                <!--<ul>-->
                                    <!--<li>Media & Advertising</li>-->
                                    <!--<li>Instant messaging systems</li>-->
                                    <!--<li>Management (CRM/ERP solutions)</li>-->
                                <!--</ul>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</a>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</section>-->
