<section id="team">
    <div class="container-fluid">
        <h2>MEET OUR TEAM</h2>

        <div class="row">
            <div id="carousel" class="carousel slide">
                <ol class="carousel-indicators">
                    <li class="active" data-target="#carousel" data-slide-to="0"></li>
                    <li data-target="#carousel" data-slide-to="1"></li>
                    <li data-target="#carousel" data-slide-to="2"></li>
                    <li data-target="#carousel" data-slide-to="3"></li>
                    <!--<li data-target="#carousel" data-slide-to="4"></li>-->
                </ol>
                <div class="carousel-inner">
                    <div class="item active">
                        <div class="col-lg-6">
                            <img src="../img/team/1.jpg" alt="Nataliia">
                            <div class="carousel-caption">
                                <h3>Nataliia</h3>
                                <p>CEO, Co-Founder, PM</p>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <img src="../img/team/2.jpg" alt="Vitaly">
                            <div class="carousel-caption">
                                <h3>Vitaly</h3>
                                <p> Co-Founder</p>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="col-lg-6">
                            <img src="../img/team/3.jpg" alt="Svitlana">
                            <div class="carousel-caption">
                                <h3>Svitlana</h3>
                                <p>Team lead, front-end developer</p>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <img src="../img/team/4.jpg" alt="project team">
                            <div class="carousel-caption">
                                <h3>Project team</h3>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="col-lg-6">
                            <img src="../img/team/5.jpg" alt="Oleksandr">
                            <div class="carousel-caption">
                                <h3>Oleksandr</h3>
                                <p>Team lead, front-end developer</p>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <img src="../img/team/6.jpg" alt="project team">
                            <div class="carousel-caption">
                                <h3>Project team</h3>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="col-lg-6">
                            <img src="../img/team/7.jpg" alt="Viktor">
                            <div class="carousel-caption">
                                <h3>Viktor</h3>
                                <p>Team lead, full-stack developer</p>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <img src="../img/team/8.jpg" alt="project team">
                            <div class="carousel-caption">
                                <h3>Project team</h3>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="col-lg-6">
                            <img src="../img/team/9.jpg" alt="Nazar">
                            <div class="carousel-caption">
                                <h3>Nazar</h3>
                                <p>Team lead, back-end developer</p>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <img src="../img/team/10.jpg" alt="project team">
                            <div class="carousel-caption">
                                <h3>Project team</h3>
                            </div>
                        </div>
                    </div>

                    <a href="#carousel" class="left carousel-control" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>
                    <a href="#carousel" class="right carousel-control" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                </div>
            </div>

        </div>
    </div>
</section>
